#trivia-content {
  margin: auto;
  height: 300px;
  width: 300px;
  margin-top: 200px;
}

body {
  background-image: url("../images/green-1072828_1280.jpg");
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Bowlby One SC", cursive;
  font-size: 50px;
}

h2 {
  text-align: center;
}

#game-title {
  margin-top: 10px;
}

#Start-game {
  margin: auto;
  margin-right: 50px;
  width: 200px;
  height: 50px;
}

#startButton {
  width: 200px;
  height: 75px;
  text-transform: uppercase;
}

#timer {
  margin: auto;
  margin-left: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#answer-display {
  margin: auto;
  margin-left: 150px;
  margin-top: 120px;
}

img {
  width: 200px;
  height: 200px;
  padding-left: 20px;
}

#question_div {
  /* padding-top: 5px; */
  padding-bottom: 10px;
  margin-top: 20px;
}

#choices_div {
  width: 300px;
  margin-top: 20px;
  margin-left: 200px;
}

.select-answer {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  border-color: #194a09;
  color: #fff;
  box-shadow: 0 0 40px 40px #194a09 inset, 0 0 0 0 #1f820b;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.select-answer:hover {
  box-shadow: 0 0 10px 0 #194a09 inset, 0 0 10px 4px #1f820b;
}

.select-answer:hover,
.select-answer:focus {
  color: #fff;
  outline: 0;
}
